*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
    background-color: rgb(112, 112, 112);
}

@media only screen and (max-width: 600px) {
  
    .container{
        padding-right: 70px ;
        margin-right: 110px; 
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: left;
        

    }
    .table1{
        justify-content: left;
        font-size: 0.7em;
        flex-wrap: wrap;
        width: 50px;
        height: 100px;
        margin: 10px 0;
        padding: 5px 0;
    }


  }


.container{
    max-width: 1000px;
    flex-wrap: wrap;

}

.btn1{
    border-radius: 10px;
    padding: 15px;
}
.inp1{
    padding: 10px;
    width: 50px;
}
